@use 'variaveis';

.personagens{

    h2{
        text-align: center;
        color: variaveis.$corDeTitulo;
        text-shadow: -2px 3px 3px rgba(22,89,126,1);
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
    }

    .containerPersonagens{
        background-image: url(../../images/fundo/Disney\ Australia\ &\ NZ\ _\ The\ Official\ Home\ For\ All\ Things\ Disney.jpg);
        background-repeat: no-repeat;
        padding: 20px 20px;
        background-size: 100%;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 15px;
        
        &__cards{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:variaveis.$corDeFundoCard;
            padding: 20px;
            margin: 20px;
            border: variaveis.$corBordaFundo solid 4px;
            border-radius: 8px;

            img{
                height: 110px;
                width: 150px;
                padding: 12px;
                margin-right: 10px;
                background-color: variaveis.$corBordaFundo;
                border-radius: 8px;
            }

            p{
                color: variaveis.$corDeTitulo;
                font-size: 30px;
                font-family: Nemo;
            }
        }
    }
}